<div
	class="main-container"
	data-ng-if="isDataPrepared">
	<div class="header-container">Тендеры в РФ за год</div>
	<div class="filters-container"></div>
	<div class="bar-chart-container"></div>
	<div class="map-container">
		<map
			data-map-data="mapData"
			data-cities-data="citiesData"
			data-tenders="tenders"
			data-field-colors="fieldColors"
			data-duration="duration"
			data-legend="legend"></map>
	</div>
	<div class="legend-container">
		<legend
			data-field-colors="fieldColors"
			data-legend="legend">
		</legend>
	</div>
</div>
