<div
	class="main-container"
	data-ng-if="isDataPrepared">
	<div class="header-container">Тендеры в РФ за год</div>
	<div class="filters-container">
		<filters
			data-filters="filters">
		</filters>
	</div>
	<div class="content">
		<div class="bar-chart-container inline">
			<bar-chart
				data-ng-if="map.height"
				data-data="data"
				data-start-date="startDate"
				data-end-date="endDate"
				data-filters="filters"
				data-map="map"
				data-bar-chart="barChart"
				data-month-names="monthNames"
				data-duration="duration"></bar-chart>
		</div>
		<div class="map-container inline">
			<map
				data-data="data"
				data-filters="filters"
				data-map="map"
				data-bar-chart="barChart"
				data-legend="legend"
				data-duration="duration"></map>
		</div>
		<br class="clear-both" />
	</div>
	<div class="legend-container">
		<!--<legend
			data-ng-if="legend.fields.length > 1"
			data-data="data"
			data-map="map"
			data-legend="legend">
		</legend>-->
	</div>
</div>
