<div class="bar-chart-tooltip">
  <div class="field-info">
    <div class="field"></div>&nbsp;<div class="value"></div>
  </div>
  <div class="tender-info">
    <div>
      <div class="name"></div>
    </div>
    <div>
      <div class="caption">Заказчик:&nbsp;</div><div class="customer value"></div>
    </div>
    <div>
      <div class="caption">Цена контракта:&nbsp;</div><div class="price value"></div>
    </div>
    <div>
      <div class="caption">Дата завершения:&nbsp;</div><div class="date value"></div>
    </div>
  </div>
</div>
