<div class="filters">
  <selectbox
    class="field-filter inline"
    data-list="filters.fields"
    data-ng-model="filters.field">
  </selectbox>
  <selectbox
    class="price-filter inline"
    data-list="filters.prices"
    data-ng-model="filters.price">
  </selectbox>
  <selectbox
    class="type-filter inline"
    data-list="filters.types"
    data-ng-model="filters.type">
  </selectbox>
  <selectbox
    class="region-filter inline"
    data-list="filters.regions"
    data-ng-model="filters.region">
  </selectbox>
  <div
    class="reset-button inline"
    data-ng-show="filters.field || filters.price || filters.region"
    data-ng-click="resetFilters()">&times;</div>
  <br class="clear-both" />
</div>
