<div class="legend">
  <div
    class="column"
    data-ng-repeat="i in range(nOfColumns) track by $index">
    <div
      class="item"
      data-ng-repeat="field in legend.fields | orderBy:'toString()' | limitTo:nOfItemsInColumn:($index * nOfItemsInColumn)"
      data-ng-class="{'hidden': map.color ? (data.colors[field] !== map.color) : false}"
      data-ng-mouseover="legend.field = field"
      data-ng-mouseleave="legend.field = ''">
      <div class="sample inline" data-ng-style="{'background-color': data.colors[field]}"></div>
      <div class="caption inline">{{field}}</div>
      <br class="clear-both" />
    </div>
  </div>
  <br class="clear-both" />
</div>
