@import '../variables';

.main-container {
	.header-container {
		margin: 20px $common-margin 0 $common-margin;
		font-family: $helvetica-neue-medium;
		font-size: $header-font-size;
	}

	.map-container {
		margin: 20px $common-margin 0 $common-margin;
		width: calc(50% - 10px - #{$common-margin});
	}
}
