@import '../variables';

.main-container {
	.header-container {
		margin: 20px $common-margin 0 $common-margin;
		font-family: $helvetica-neue-medium;
		font-size: $header-font-size;
	}

	.filters-container {
		margin: 20px $common-margin 0 $common-margin;
	}

	.map-container {
		margin: 20px $common-margin 0 $common-margin;
		width: calc(60% - 10px - #{$common-margin});
	}

	.legend-container {
		margin: 0 $common-margin 0 $common-margin;
	}
}
