@import '../variables';

.main-container {
	.header-container {
		margin: 20px $common-margin 0 $common-margin;
		font-family: $helvetica-neue-medium;
		font-size: $header-font-size;
	}

	.filters-container {
		margin: 20px $common-margin 0 $common-margin;
	}

	.bar-chart-container {
		margin: 20px $common-margin / 2 0 $common-margin;
		width: calc(40% - #{$common-margin} * 1.5);
	}

	.map-container {
		margin: 20px $common-margin 0 $common-margin / 2;
		width: calc(60% - #{$common-margin} * 1.5);
	}

	.legend-container {
		margin: 0 $common-margin 0 $common-margin;
	}
}
