$helvetica-neue-medium: 'HelveticaNeueMedium', 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$helvetica-neue-light: 'HelveticaNeueLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$garamond-original-italic: 'OriginalGaramondBTWebItalic';

$header-font-size: 27px;
$common-font-size: 14px;
$small-font-size: 12px;
$datalab-font-size: 13px;

$common-margin: 40px;
