@import '../variables';

.bar-chart-tooltip {
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255, .7);
  text-align: left;
  font-family: $helvetica-neue-light;
  font-size: $small-font-size;

  .field-info {
    padding: 5px;

    .field {
      display: inline-block;
      font-weight: bold;
    }

    .value {
      display: inline-block;
      font-weight: normal;
    }
  }

  .tender-info {
    padding: 5px;

    .name {
      max-width: 300px;
      margin-bottom: 10px;
    }

    .caption {
      display: inline-block;
      font-weight: bold;
    }

    .value {
      display: inline-block;
      font-weight: normal;
    }
  }
}

.bar-chart {
  .axis-caption {
    .caption {
      font-family: $helvetica-neue-light;
      font-size: $small-font-size;
      dominant-baseline: hanging;
      text-anchor: start;
    }
  }

  .month-captions {
    .caption text {
      font-family: $helvetica-neue-light;
      font-size: 11px;
      dominant-baseline: central;
      text-anchor: middle;
      cursor: default;
    }
  }

  .bar {
    .caption {
      font-family: $helvetica-neue-light;
      font-size: 11px;
      dominant-baseline: central;
      text-anchor: middle;
    }
  }
}
