@import '../variables';

.map {
  .city {
    circle {
      fill: #333;
    }

    text {
      font-family: $helvetica-neue-light;
      font-size: $small-font-size;
      cursor: default;
    }
  }
}
